@font-face {
    font-family: shapiro;
    src: url(./Assets/shapiro-95-super-wide.ttf);
}

@font-face {
    font-family: barlow;
    src: url(./Assets//Barlow-Light.otf);
}

@font-face {
    font-family: barlow-bold;
    src: url(./Assets//Barlow-Bold.otf);
}