@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@font-face {
    font-family: shapiro;
    src: url(./Assets/shapiro-95-super-wide.ttf);
}

@font-face {
    font-family: barlow;
    src: url(./Assets//Barlow-Light.otf);
}

@font-face {
    font-family: barlow-bold;
    src: url(./Assets//Barlow-Bold.otf);
}

.nav-link:hover {
    color: white !important;
    background-color: black;
}

Button {
    width: 100px;
}

li {
    font-family: barlow;
}

p {
    word-spacing: 3px;
    font-family: barlow;
}

h5 {
    font-family: barlow;
    letter-spacing: .2rem;
}

a {
    font-family: barlow-bold !important;
}

.name {
    font-family: shapiro;
    font-size: 5rem;
}

.headshot {
    border-radius: 2%;
}

.hero-container {
    padding-left: 5vw;
    padding-right: 5vw;
    height: 91vh;
}

.about-container {
    opacity: 0;
    padding-left: 5vw;
    padding-right: 5vw;
    height: 91vh;
    transition: 0.8s ease-in;
}

.project-container {
    padding-left: 5vw;
    padding-right: 5vw;
    height: 91vh;
}

.fade-in-row {
    opacity: 0;
    transition: 0.8s ease-in;
}

.contact-container {
    opacity: 0;
    padding-left: 5vw;
    padding-right: 5vw;
    height: 91vh;
    transition: 0.8s ease-in;
}


.heading {
    font-family: shapiro;
    letter-spacing: 5px;
}

.hor-portfolio-list {
    margin-bottom: 6rem;
}

.carousel {
    border-radius: 2%;
}

.github-link:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 1200px) {
    .hor-portfolio-list {
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .name {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 630px) {
    .name {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 576px) {
    .nav-container {
        gap:0 !important;
    }
}

@media only screen and (max-width: 550px) {
    .name {
        font-size: 2.5rem;
    }
    h5 {
        text-align: center;
    }
}


@media only screen and (max-width: 390px) {
    .name {
        font-size: 2rem;
    }
}